@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-text-primary: #24292e;
    --color-input-bg: #ffffff;
    --color-input-border: #e1e4e8;
    --color-shadow-inset: inset 0 1px 0 rgba(225,228,232,0.2);
    --color-input-contrast-bg: #fafbfc;
    --color-state-focus-shadow: 0 0 0 3px rgba(3,102,214,0.3);
    --color-state-focus-border: #0366d6;
    --color-btn-hover-bg: #f3f4f6;
    --color-btn-hover-border: rgba(27,31,35,0.15);
    --color-btn-border: rgba(27, 31, 35, 0.082);
    --color-btn-shadow: 0 1px 0 rgba(27,31,35,0.04);
    --color-btn-inset-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  }

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    scroll-behavior: smooth;
}

.min-w-xs { min-width: 20rem; }

.btn {
    color: #24292e;
    background-color: #fafbfc;
    border: 1px solid;
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    appearance: none;
    transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color,background-color,border-color;
}
.btn:hover {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
    transition-duration: .1s;
}

.form-control {
    padding: 7px 18px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-primary);
    vertical-align: middle;
    background-color: var(--color-input-bg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--color-input-border);
    border-radius: 6px;
    outline: none;
    box-shadow: var(--color-shadow-inset);
    background-color: var(--color-input-contrast-bg);
}
.form-control:focus {
    background-color: var(--color-input-bg);
    border-color: var(--color-state-focus-border);
    outline: none;
    box-shadow: var(--color-state-focus-shadow);
}
.form-control::placeholder {
    @apply text-gray-700;
  }